.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282828;
  padding: 10px 20px;
  color: #fff;
}

.search-bar input {
  padding: 8px;
  border-radius: 20px;
  border: none;
  background-color: #3a3a3a;
  color: #fff;
}
