.sidebar {
  width: 240px;
  background-color: #1f1f1f;
  color: white;
  padding: 20px;
  height: 100vh;
  position: fixed;
  transition: transform 0.3s ease;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
  cursor: pointer;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.sidebar ul li.active {
  background-color: #00cfff;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.sidebar ul li.active a {
  color: #141414;
}

.sidebar li span {
  cursor: pointer;
}

.home {
  cursor: pointer;
}

.sidebar ul li.active span {
  color: #141414;
}

.sidebar ul li span {
  cursor: pointer;
}

.sidebar.visible {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 50px;
    left: 0;
    transform: translateX(-100%);
    z-index: 1000;
  }

  .sidebar.visible {
    transform: translateX(0);
  }
}
