.sidebar {
  width: 240px;
  background-color: #1f1f1f;
  color: #00cfff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li a {
  color: #00cfff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar ul li.active a {
  background-color: #00cfff;
  color: #141414;
  padding: 10px;
  border-radius: 5px;
}

.sidebar li span {
  cursor: pointer;
}

.home{
  cursor: pointer;
}
