body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #141414;
}

.home-page {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 240px;
  background-color: #1f1f1f;
  color: #00cfff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
