body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #141414;
}

.add-assignment-page {
  display: flex;
  height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.assignment-form {
  display: flex;
  justify-content: space-between;
}

.form-left,
.form-right {
  width: 48%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #00cfff;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #333;
  color: #ddd;
}

.form-group textarea {
  height: 100px;
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.uploaded-files {
  margin-top: 10px;
}

.uploaded-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  color: #ddd;
}

.uploaded-file button {
  background: none;
  border: none;
  color: #00cfff;
  cursor: pointer;
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cancel-button,
.add-button,
.upload-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.cancel-button {
  background-color: #555;
  color: #ddd;
}

.add-button {
  background-color: #00cfff;
  color: #141414;
}

.upload-button {
  background-color: #00cfff;
  color: #141414;
}

.cancel-button:hover {
  background-color: #777;
}

.add-button:hover,
.upload-button:hover {
  background-color: #009fe3;
}

.form-right .form-group {
  display: flex;
  flex-direction: column;
}

.Container {
  width: 90%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}
