.meeting-room-section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1c1c1c;
  color: white;
}

.meeting-room-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  position: relative;
  margin-bottom: 20px;
}
