body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #141414;
}

.assignments-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.assignments-content {
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.assignments-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.assignments-header h3 {
  color: #00cfff;
  margin: 0;
}

.action-buttons button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.add-topic-button {
  background-color: #444;
  color: #fff;
}

.create-button {
  background-color: #00cfff;
  color: #141414;
}

.add-topic-button:hover,
.create-button:hover {
  background-color: #009fe3;
}

.assignment-topic {
  margin-bottom: 30px;
}

.assignment-topic h4 {
  color: #00cfff;
  margin-bottom: 10px;
}

.assignment-item {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #1f1f1f;
  border-radius: 10px;
  margin-bottom: 10px;
}

.assignment-icon {
  width: 40px;
  height: 40px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 15px;
}

.assignment-icon i {
  font-size: 18px;
  color: #00cfff;
}

.assignment-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.assignment-details span {
  display: block;
  color: #888;
}

.assignment-details span:first-child {
  color: #ddd;
}

.due-date {
  color: gray;
}

.assignments-container {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
}

.view-details-button {
  padding: 10px 15px;
  background-color: #00cfff;
  color: #141414;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.view-submissions-button {
  padding: 10px 15px;
  background-color: #00cfff;
  color: #141414;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.view-details-button:hover {
  background-color: #009fe3;
}

.view-submissions-button:hover {
  background-color: #009fe3;
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  color: #00cfff;
  font-size: 24px;
  cursor: pointer;
}

.dropdown-toggle:hover {
  background-color: #444;
}

.assignment-dropdown {
  display: block;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #282828;
  border: 1px solid #444;
  border-radius: 5px;
  z-index: 1000;
  text-align: left;
}

.assignment-dropdown ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.assignment-dropdown ul li {
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
}

.assignment-dropdown ul li:hover {
  background-color: #444;
  color: #00cfff;
}

.assignment-dropdown ul li.dropdown-delete-assignment:hover {
  background-color: #444;
  color: red;
}

.assignment-item:hover {
  background-color: #3c3c3c;
}
